
.my-button-save {
  display: inline-block;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  background-color: #4CAF50;
  text-decoration: none;
}

.my-button-cancel {
  display: inline-block;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  background-color: #f44336;
  text-decoration: none;
}

.button-wrapper {
  width: 400px;
  /* height: 400px; */
  align-text: center;

}