
.button-reject {
  display: inline-block;
  margin: 20px;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  background-color: #f44336;
  text-decoration: none;
}

.button-accept {
  display: inline-block;
  margin: 20px;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  background-color: #4CAF50;
  text-decoration: none;
}
